{% block content %}
    <link href="{{ site_url }}/resources/assets/css/notifIt.css" rel="stylesheet">
    <link href="{{ site_url }}/resources/assets/css/style.css" rel="stylesheet">
    <link href="{{ site_url }}/resources/assets/css/checkout/checkout.css" rel="stylesheet">

{% endblock %}
<div id="content">{% block body %}{% endblock %}</div>
<div id="footer">
    <script src="{{ site_url }}/resources/assets/js/bootstrap.min.js"></script>
    <script src="{{ site_url }}/resources/assets/js/CartRabbit.min.js"></script>
    <script src="{{ site_url }}/resources/assets/js/script.js"></script>
    <script src="{{ site_url }}/resources/assets/js/notifIt.min.js"></script>
    <script src="{{ site_url }}/resources/assets/js/jquery.validator.min.js"></script>
    <script src="{{ site_url }}/resources/assets/js/jquery.validator.addtional.methods.js"></script>
    {% block footer %}

    {% endblock %}
</div>