{% extends '@CartRabbit/admin_template.html.twig' %}

 {% block content %}

 {% endblock %}

{% block body %}
    <br>
    <div class="flylshop">
        <div class="container">
            <div class="row">
                <div class="col-md-11 flylshop">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            {% include '@CartRabbit/Admin/Includes/Configuration/configMenu.twig' %}
                            <div class="">
                                <div class="row">
                                    <div class="col-md-12 flylshop">
                                        <div class="panel panel-info">
                                            <form method="post" action="{{ site_addr }}/cartConfig/Inventory">
                                                <div align="right">
                                                    <button class="btn btn-primary">Save</button>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <h3>Inventory</h3>
                                                                    <div class="panel panel-info">
                                                                        <div class="panel-body">
                                                                            <div class="form-group">
                                                                                <label>Manage Stock : </label>
                                                                                <select class="form-control"
                                                                                        name="inventory_manage_stock">
                                                                                    <option {% if inventory['inventory_manage_stock'] == 'yes' %}  selected=selected {% endif %}
                                                                                            value="yes">Yes
                                                                                    </option>
                                                                                    <option {% if inventory['inventory_manage_stock'] == 'no' %}  selected=selected {% endif %}
                                                                                            value="no">No
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Min Sale Quantity : </label>
                                                                                <input type="text"
                                                                                       name="inventory_min_qty"
                                                                                       value="{% if inventory['inventory_min_qty'] is not empty %}{{ inventory['inventory_min_qty'] }}{% endif %}"
                                                                                       class="form-control">
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label>Max Sale Quantity : </label>
                                                                                <input type="text"
                                                                                       name="inventory_max_qty"
                                                                                       value="{% if inventory['inventory_max_qty'] is not empty %}{{ inventory['inventory_max_qty'] }}{% endif %}"
                                                                                       class="form-control">
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label>Notify if Quantity Lower than
                                                                                    : </label>
                                                                                <input type="text"
                                                                                       name="inventory_notify_qty"
                                                                                       value="{% if inventory['inventory_notify_qty'] is not empty %}{{ inventory['inventory_notify_qty'] }}{% endif %}"
                                                                                       class="form-control">
                                                                            </div>
                                                                            <hr>
                                                                            <div class="form-group">
                                                                                <label>Cancel New/Pending Orders to
                                                                                    Release Stock :</label>
                                                                                <select class="form-control"
                                                                                        name="inventory_cancel_and_release_stock">
                                                                                    <option {% if inventory['inventory_cancel_and_release_stock'] == 'yes' %}  selected=selected {% endif %}
                                                                                            value="yes">Yes
                                                                                    </option>
                                                                                    <option {% if inventory['inventory_cancel_and_release_stock'] == 'no' %}  selected=selected {% endif %}
                                                                                            value="no">No
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Hold Stock for (in min) :</label>
                                                                                <input type="number" min=0
                                                                                       name="inventory_duration_to_release_stock"
                                                                                       value="{% if inventory['inventory_duration_to_release_stock'] is not empty %}{{ inventory['inventory_duration_to_release_stock'] }}{% endif %}"
                                                                                       class="form-control">
                                                                            </div>
                                                                            <hr>
                                                                            <div class="form-group">
                                                                                <label>Stock Display Format :</label>
                                                                                <select class="form-control"
                                                                                        name="inventory_stock_display_type">
                                                                                    <option {% if inventory['inventory_stock_display_type'] == 'always' %}  selected=selected {% endif %}
                                                                                            value="always">Always Show
                                                                                        Stock
                                                                                    </option>
                                                                                    <option {% if inventory['inventory_stock_display_type'] == 'low' %}  selected=selected {% endif %}
                                                                                            value="low">Show Only Stock
                                                                                        reach lower Threshold
                                                                                    </option>
                                                                                    <option {% if inventory['inventory_stock_display_type'] == 'never' %}  selected=selected {% endif %}
                                                                                            value="never">Never Show
                                                                                        Stock
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}