{% extends '@CartRabbit/admin_dashboard_template.html.twig' %}

{% block body %}
    <br>
    <div class="flylshop">
        <div class="container-fluid">
            <i><h1 style="font-weight: 600"><span class="dashicons dashicons-carrot"></span> CartRabbit</h1></i>
            <hr>
            <div id="spin_bar"
                 style="position: absolute; left: 0; top: 0; height: 100%; width:100%; z-index: 9999; background-color: #FFFFFF; opacity: .8;">
                <img src="{{ default.ajax_spin }}" style="left: 50%; top: 50%; position:relative;">
            </div>
            {% if content.products | length > 0 %}
                <!--Overall Status-->
                <div class="row flylshop">
                    <div class=" col-lg-3 ">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class=" row">
                                    <div class="col-md-6">
                                        {#<div id="weekly_visitor"></div>#}
                                        <i class="glyphicon glyphicon-shopping-cart text-primary"
                                           style="font-size: 80px;"></i>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="text-primary">{{ content.total_buyers }}</h3>
                                        <p class="text-muted">Total Buyers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 ">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class=" row">
                                    <div class="col-md-6">
                                        {#<div id="total_sale"></div>#}
                                        <i class="glyphicon glyphicon-stats text-primary" style="font-size: 80px;"></i>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="text-primary">{{ currency.format(content.sales.today) }}</h3>
                                        <p class="text-muted">Today Sale</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        {#<div id="pending_order"></div>#}
                                        <i class="glyphicon glyphicon-stats text-warning"
                                           style="font-size: 80px;"></i>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="text-primary">{{ currency.format(content.sales.monthly) }}</h3>
                                        <p class="text-muted text-nowrap">Monthly Sale</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 ">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        {#<div id="today_visitor"></div>#}
                                        <i class="glyphicon glyphicon-stats text-success"
                                           style="font-size: 80px;"></i>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="text-primary">{{ currency.format(content.sales.total) }}</h3>
                                        <p class="text-muted text-nowrap">Total Sale</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
                <!--End Of Overall Status-->


                <!-- card box 2-->

                <div class="row">
                    {#{% if content.sales.graph_count > 1 %}#}
                    <div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {#<h4 class="text-dark  text-left ">Total Revenue</h4>#}
                                <div class="text-center" id="daily_report">
                                    {#<div class="text-center" id="chart_div">#}

                                </div>
                            </div>
                        </div>
                    </div>
                    {#{% else %}#}
                    {#<div class="col-lg-5">#}
                    {#<div class="panel panel-default">#}
                    {#<div class="panel-body">#}
                    {##}
                    {#</div>#}
                    {#</div>#}
                    {#</div>#}
                    {#{% endif %}#}
                    <div class="col-lg-3 flylshop">
                        <div class="">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Checklist</h3>
                                    <div align="right">
                                        {% set status = 'ok' %}
                                        {% set color = 'success' %}
                                        {% for key, value in pages %}
                                            {% if value == 'NoPage' %}
                                                {% set status = 'remove' %}
                                                {% set color = 'danger' %}
                                            {% endif %}
                                        {% endfor %}
                                        Status : <span class="text-{{ color }}"><i
                                                    class="glyphicon glyphicon-{{ status }}"></i></span>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    {#<li class="list-group-item">#}
                                    {#<div class="row toggle" id="dropdown-detail-2" data-toggle="detail-currency">#}
                                    {#<div class="col-xs-10">#}
                                    {#<h5><a href=javascript:void(0)> Admin | Multiple Currency </a></h5>#}
                                    {#</div>#}
                                    {#<div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>#}
                                    {#</div>#}
                                    {#<div id="detail-currency">#}
                                    {#<hr>#}
                                    {#// Not Yet#}
                                    {#</div>#}
                                    {#</li>#}
                                    <li class="list-group-item">
                                        <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                                            <div class="col-xs-10">
                                                <h5><a href=javascript:void(0)> Site | Store Pages </a></h5>
                                            </div>
                                            <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                                        </div>
                                        <div id="detail-1">
                                            <hr>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <ul class="list-group">
                                                            <li class="list-group-item"><a
                                                                        href="?page=dashboard">
                                                                    Set Page for List Product</a>
                                                                {% set status = 'ok' %}
                                                                {% set color = 'success' %}
                                                                {% if pages['page_to_list_product'] == 'NoPage' %}
                                                                    {% set status = 'remove' %}
                                                                    {% set color = 'danger' %}
                                                                {% endif %}
                                                                <span class="text-{{ color }}"><i
                                                                            class="glyphicon glyphicon-{{ status }}"></i></span>
                                                            </li>
                                                            <li class="list-group-item"><a
                                                                        href="?page=dashboard">
                                                                    Set Page for Cart Product</a>
                                                                {% set status = 'ok' %}
                                                                {% set color = 'success' %}
                                                                {% if pages['page_to_cart_product'] == 'NoPage' %}
                                                                    {% set status = 'remove' %}
                                                                    {% set color = 'danger' %}
                                                                {% endif %}
                                                                <span class="text-{{ color }}"><i
                                                                            class="glyphicon glyphicon-{{ status }}"></i></span>
                                                            </li>
                                                            <li class="list-group-item"><a
                                                                        href="?page=dashboard">
                                                                    Set Page for My Account</a>
                                                                {% set status = 'ok' %}
                                                                {% set color = 'success' %}
                                                                {% if pages['page_to_account'] == 'NoPage' %}
                                                                    {% set status = 'remove' %}
                                                                    {% set color = 'danger' %}
                                                                {% endif %}
                                                                <span class="text-{{ color }}"><i
                                                                            class="glyphicon glyphicon-{{ status }}"></i></span>
                                                            </li>
                                                            <li class="list-group-item"><a
                                                                        href="?page=dashboard">
                                                                    Set Page for Checkout</a>
                                                                {% set status = 'ok' %}
                                                                {% set color = 'success' %}
                                                                {% if pages['page_to_checkout'] == 'NoPage' %}
                                                                    {% set status = 'remove' %}
                                                                    {% set color = 'danger' %}
                                                                {% endif %}
                                                                <span class="text-{{ color }}"><i
                                                                            class="glyphicon glyphicon-{{ status }}"></i></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 class="text-dark text-left "><i class="glyphicon glyphicon-pencil text-warning"></i>
                                    My Note</h4>
                                <div class="">
                                    <form method="post" id="my_notes" action="{{ site_addr }}/dashboard/saveNotes">
                                        <ul class="list-inline" id="notes_panel">
                                            <li style="width:100%;">
                                                <textarea name="note[]" style="width: 100%; height: 200px;"
                                                          class="col-md-12">{{ content['notes'][0] }}</textarea>
                                            </li>
                                        </ul>
                                        <input type="submit" value="Save" class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <!-- end of card box2 -->
                <div class="row">
                    <!--Table Data for Latest Projects-->
                    <div class="col-lg-6 ">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 class="text-dark  ">Latest Orders</h4>
                                <p class="text-muted">
                                    The order details for this week.
                                </p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <td>#</td>
                                            <th>Invoice No.</th>
                                            <th>User</th>
                                            <th>Ordered On</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i,order in content.index.orders %}
                                            {% set billing_address = util.jsonDecode(order.info.meta.billing_address) %}
                                            <tr>
                                                <td>{{ i + 1 }}</td>
                                                <td>{{ order.info.invoice_prefix ~  order.info.invoice_no }}</td>
                                                <td>{{ billing_address.fname ~ ' ' ~ billing_address.lname }}</td>
                                                <td>{{ order.info.created_at }}</td>
                                                <td>{{ currency.format(order.info.meta.total, 1, order.info.meta.exchange_value, order.info.meta.currency_code) }}</td>
                                                {% set flag_color = 'success' %}
                                                {% set order_status = order.info.order_status %}
                                                {% if order_status == 'failed' %}
                                                    {% set flag_color = 'danger' %}
                                                {% elseif order_status == 'new' %}
                                                    {% set flag_color = 'primary' %}
                                                {% elseif order_status == 'completed' %}
                                                    {% set flag_color = 'success' %}
                                                {% else %}
                                                    {% set flag_color = 'danger' %}
                                                    {% set order_status = 'Pending' %}
                                                {% endif %}
                                                <td>
                                                    <h5 class="col-md-8 text text-{{ flag_color }}">{{ order.info.order_status }}</h5>
                                                    <a href="{{ site_addr }}/wp-admin/admin.php?page=cartrabbit_order&order_id={{ order.info.id }}">
                                                        <button class="col-md-offset-1 col-md-3 btn btn-primary"><i
                                                                    class="glyphicon glyphicon-search"></i></button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Table Data for Latest Projects-->


                    <!--Progress Bar for Top Selling Products-->
                    <div class="col-lg-6 ">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="referrals">
                                    <h4 class="text-dark ">Top Selling Products</h4>
                                    <table class="table table-borderless table-responsive">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Total Total Sales</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set n = 1 %}
                                        {% for i, product in content.sales.top_selling %}
                                            <tr>
                                                <td>{{ n }}</td>
                                                <td title="{{ product.sku }}"><a
                                                            href="{{ site_addr }}/wp-admin/post.php?post={{ i }}&action=edit">
                                                        {{ product.name }}</a></td>
                                                <td>{{ product.quantity }}</td>
                                            </tr>
                                            {% set n = n +1 %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Total Buy</th>
                                            <th>Quick View</th>
                                        </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Of Progress Bar for Top Selling Products-->
                </div>
            {% else %}
                <hr>
                <div class="row" style="padding:15%">
                    <div class="col-md-offset-4 col-md-6">
                        <i>Create your first product with <h1 style="font-weight: 600"><span
                                        class="dashicons dashicons-carrot"></span>CartRabbit </h1></i>
                        <a href="{{ site_addr }}/wp-admin/post-new.php?post_type=cartrabbit_product"><input
                                    type="button" class="btn btn-success" style="padding-left: 10%; padding-right: 10%"
                                    value="Create New"></a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <input type="hidden" value="{{ content.sales.graph }}" id="graph">

    <!-- Chart Content -->
    <script src="{{ site_url }}/resources/assets/js/chart_api.js"></script>

    <script>{{ content.sales.graph | raw }}</script>

{% endblock %}

    {% block footer %}
        <script>
            (function ($) {
                $(document).ready(function () {

                    $('#spin_bar').hide();
                    /** CURL based GeoIP Download */
                    $(document).on('click', '.geo_ip_download_curl', function () {
                        $('#spin_bar').show();
                        var current = $(this);
                        $.ajax({
                            url: '{{ site_addr }}/dashboard/downloadGeoIP',
                            type: 'POST',
                            success: function () {

                            },
                            complete: function () {
                                $('#spin_bar').hide();
                                current.closest('div').remove();
                            }

                        });
                    });

                    /** Notes Submission */

                    $('[id^=detail-]').hide();
                    $('.toggle').click(function () {
                        $input = $(this);
                        $target = $('#' + $input.attr('data-toggle'));
                        $target.slideToggle();
                    });
                    var DrawSparkline = function () {
                        $('#total_revenue').sparkline([0, 23, 43, 35, 44, 45, 56, 37, 40], {
                            type: 'line',
                            width: $('#total_revenue').width(),
                            height: '165',
                            chartRangeMax: 50,
                            lineColor: '#3bafda',
                            fillColor: 'rgba(59,175,218,0.3)',
                            highlightLineColor: 'rgba(0,0,0,.1)',
                            highlightSpotColor: 'rgba(0,0,0,.2)',
                        });

                        $('#total_revenue').sparkline([25, 23, 26, 24, 25, 32, 30, 24, 19], {
                            type: 'line',
                            width: $('#total_revenue').width(),
                            height: '165',
                            chartRangeMax: 40,
                            lineColor: '#00b19d',
                            fillColor: 'rgba(0, 177, 157, 0.3)',
                            composite: true,
                            highlightLineColor: 'rgba(0,0,0,.1)',
                            highlightSpotColor: 'rgba(0,0,0,.2)',
                        });

                        $('#yearly_sales').sparkline([3, 6, 7, 8, 6, 4, 7, 10, 12, 7, 4, 9, 12, 13, 11, 12], {
                            type: 'bar',
                            height: '165',
                            barWidth: '10',
                            barSpacing: '3',
                            barColor: '#3bafda'
                        });

                        $('#weekly_sales').sparkline([20, 40, 30, 10], {
                            type: 'pie',
                            width: '165',
                            height: '165',
                            sliceColors: ['#dcdcdc', '#3bafda', '#333333', '#00b19d']
                        });
                    };
                    DrawSparkline();

                    var resizeChart;

                    $(window).resize(function (e) {
                        clearTimeout(resizeChart);
                        resizeChart = setTimeout(function () {
                            DrawSparkline();
                        }, 300);
                    });


                    $("#weekly_visitor").circliful
                    ({
                        foregroundColor: "#3498DB",
                        backgroundColor: "#eee",
                        fontColor: '#aaa',
                        percent: '{{ content.total_buyers }}',

                    });
                    $("#total_sale").circliful
                    ({
                        foregroundColor: "#3498DB",
                        backgroundColor: "#eee",
                        fontColor: '#aaa',
                        percent: 50
                    });
                    $("#pending_order").circliful
                    ({
                        foregroundColor: "#3498DB",
                        backgroundColor: "#eee",
                        fontColor: '#aaa',
                        percent: 75
                    });
                    $("#today_visitor").circliful
                    ({
                        foregroundColor: "#3498DB",
                        backgroundColor: "#eee",
                        fontColor: '#aaa',
                        percent: 40
                    });

                });
            })(jQuery.noConflict())

        </script>
    {% endblock %}