{% block body %}
    <div>
        {# In Single Product Display, i Value is Empty #}
        {% if i is empty %}
            {% set i = 0 %}
        {% endif %}
        {% if product.meta.is_variant == true %}

            <input type="hidden" value="{{ product.meta.variants }}" id="variant_combination">

            <input type="hidden" value="{{ product.meta.list.html.options | json_encode }}" id="variant_attributes">
            <input type="hidden" value="{{ product.meta.list.sets | json_encode }}" id="variant_sets">
            <input type="hidden" value="{{ product.meta.list.html.items | json_encode }}" id="option_list">
        {% endif %}

        <input type="hidden" value="{{ site_addr }}" id="site_address">

        <form method="post" id="cart_add_{{ product.ID }}" class="add_to_cart_form">
            <input type="hidden" value="" name="variant_combination" id="active_variant_set">
            <input type="hidden" class="hidden_product_id" name="pro_id" id="txt_product_id"
                   value="{{ product.ID }}">
            <input type="hidden" class="hidden_variant_id" name="id" id="txt_variant_id"
                   value="{{ product.ID }}">
            <input type="hidden" class="hidden_product_name" name="pro_name" name="txt_product_name_{{ i }}"
                   value="{{ product.post_name }}">

            <span class="text text-danger log" id="log_{{ product.ID }}"></span>
            <p id="log"></p>
            {% if product.meta.visible_on_storefront == true %}
                <div style="clear: both;"></div>
                <div class="">
                    <div class="lbl_status_msg"></div>
                    {% if (setting.d_config_catalog_model == 'no') %}
                        <span class="info_log" id="lbl_add_cart_response_{{ product.ID }}"></span>
                        <div class="fc-row">
                            <div class="fc-col-lg-12">
                                {{ product.displayQuantity() | raw }}
                            {#</div>#}
                            {#<div class="fc-col-lg-8">#}
                                <input type="button" style="text-transform: capitalize; !important; width: 65%"
                                       class="fc-btn fc-btn-success btn_cart_add"
                                       id="btn_add_{{ product.ID }}"
                                       value="{{ product.meta.add_cart_text }}">
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="">
                    <input type="button" class="fc-btn fc-btn-lg fc-btn-danger" disabled value="Out Of Stock">
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}