{% block body %}
    {% set price = product.meta.pricing %}
    {% if (setting.d_config_show_price == 'yes') %}

        <div class="text_highlight_large">
            Price:&nbsp;<span id="product_price_{{ product.ID }}" class="product_price_display price-display-style">
                {% if price.is_discounted %}
                    {% if price.special_price < price.base_price and price.special_price > 0 %}
                        <span class="price-strike"><span
                                    class="text-strike"> {{ price.f_base_price }}</span></span>
                        <span>{{ price.f_special_price }} </span>
                    {% else %}
                        {{ price.f_price }}
                    {% endif %}
                {% else %}
                    {{ price.f_price }}
                {% endif %}
    </span>
        </div>
    {% endif %}
{% endblock %}
